body{
    font-family: "Chakra Petch", "PT Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #DDD0C8;
}

h1{
    margin: 55px;
    padding: 10px;
    border-style: dotted;
    border-color: #323232;
    color: #323232;
    text-align: center;
    font-size: 75px;

}

ul{
    margin: 0 auto;
    padding: 10px;
    color: #323232;
    width: 10%;
    position: relative;

}